<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update form</title>
</head>
<body>
<h1>Edit form</h1>
<a th:href="@{/home}">Back to List</a>
<form th:action="@{/update_employee}" method="post" th:object="${employee}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table th:border="1">
        <thead>
        <tr>
            <td>Title</td>
            <td>Before</td>
            <td>After</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Gen</td>
            <td th:text="${employee.getGen()}"></td>
            <td><input type="text" th:field="*{gen}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td th:text="${employee.category.getName()}"></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p:${categories}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${employee.name}"></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>

        <tr>
            <td>Gender</td>
            <td th:text="${employee.getGender()}"></td>
            <td><input type="text" th:field="*{gender}"></td>
        </tr>

        <tr>
            <td>Phone</td>
            <td th:text="${employee.getPhoneNumber()}"></td>
            <td>
                <input type="text" th:field="*{phoneNumber}">
            </td>
        </tr>

        <tr>
            <td>Email</td>
            <td th:text="${employee.getEmail()}"></td>
            <td>
                <input type="text" th:field="*{email}">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${employee.getAddress()}"></td>
            <td>
                <input type="text" th:field="*{address}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Edit">
            </td>
        </tr>
        </tbody>

    </table>
</form>
</body>
</html>